config/InvTweaks.cfg
config/InvTweaksTree.txt
config/InvTweaksRules.txt
minecraftinstance.json
crafttweaker.log
.curseclient
/saves
/logs
/local
/crash-reports
config/MouseTweaks.cfg
usercache.json
config/MouseTweaks.cfg
journeymap/journeymap.log
/usercache.json
/usernamecache.json
config/Guide-API/Guide-API.cfg
