/crash-reports
/downloads
/fonts
/local
/logs
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/colorpalette.html
/journeymap/colorpalette.json
/saves
/TombManyGraves
/valkyrielib
/.curseclient
/manifest.json
/BotaniaVars.dat
/crafttweaker.log
/minecraftinstance.json
/modlist.html
/options.txt
/usercache.json
/usernamecache.json
/.mixin.out
/backups