# Configuration file

~CONFIG_VERSION: 0.1.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# Advanced config options to change the way JEI functions.
##########################################################################################################

advanced {
    S:itemBlacklist <
        pedestalcrafting:pedestal_core:8
        enderio:item_material:10
        pedestalcrafting:pedestal_core:9
        gendustry:apiary.upgrade:4
        pedestalcrafting:pedestal_core:10
        pedestalcrafting:pedestal_core:4
        pedestalcrafting:pedestal_core:12
        exnihilocreatio:block_end_cake
        pedestalcrafting:pedestal_core:5
        pedestalcrafting:pedestal_core:11
        pedestalcrafting:pedestal_core:14
        pedestalcrafting:pedestal_core:7
        pedestalcrafting:pedestal_core:13
        pedestalcrafting:pedestal_core:15
        gendustry:apiary.upgrade:6
        gendustry:apiary.upgrade:5
        gendustry:apiary.upgrade:13
        enderio:item_material:9
        gendustry:apiary.upgrade:7
        exnihilocreatio:item_cooked_silkworm
        gendustry:apiary.upgrade:16
        exnihilocreatio:item_material
        exnihilocreatio:block_grinder
        pedestalcrafting:pedestal:8
        exnihilocreatio:block_axle_stone
        pedestalcrafting:pedestal:9
        pedestalcrafting:pedestal:7
        pedestalcrafting:pedestal:4
        exnihilocreatio:block_waterwheel
        exnihilocreatio:hive
        pedestalcrafting:pedestal:5
        exnihilocreatio:block_auto_sifter
        pedestalcrafting:pedestal:2
        pedestalcrafting:pedestal:3
        pedestalcrafting:pedestal:10
        pedestalcrafting:pedestal:11
        pedestalcrafting:pedestal:12
        pedestalcrafting:pedestal:13
        pedestalcrafting:pedestal:14
        pedestalcrafting:pedestal:15
        pedestalcrafting:pedestal:0
        pedestalcrafting:pedestal_core:0
        pedestalcrafting:pedestal:1
        pedestalcrafting:pedestal_core:1
        pedestalcrafting:pedestal_core:2
        pedestalcrafting:pedestal_core:3
        appliedenergistics2:material:40
     >
}


